{#
/**
 * @file
 * Flyout component.
 *
 * Variables:
 * - theme: [string] Light, Dark.
 * - content: [string] Content.
 * - flyout_from: [string] Direction from which flyout appears.
 * - trigger_class: [string] Additional class for the trigger link.
 * - trigger_text: [string] Text on the trigger link.
 * - expanded: [boolean] Component default state.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set classes = ['civic-flyout'] %}
{% set classes = expanded ? classes|merge(['civic-flyout--expanded']) : classes %}
{% set classes = modifier_class ? classes|merge([modifier_class]) : classes %}
{% set flyout_from_class = 'civic-flyout--%s'|format(flyout_from|default('from-right')) %}
{% set classes = classes|merge([flyout_from_class]) %}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set classes = classes|merge([theme_class]) %}
{% set trigger_classes = ['civic-flyout__trigger'] %}
{% set trigger_classes = expanded ? trigger_classes|merge(['civic-flyout__trigger--expanded']) : trigger_classes %}

<div class="{{ classes|join(' ') }}" data-component-name="civic-flyout">
  <div class="{{ trigger_classes|join(' ') }}" aria-expanded="{{ expanded ? expanded : false }}" role="button">
    {% block trigger %}
      {{ trigger }}
    {% endblock %}
  </div>
  <div class="civic-flyout__content{{ expanded ? ' civic-flyout__content--expanded' : '' }}" aria-hidden="{{ expanded ? not expanded : true }}">
      <div class="civic-flyout__content--inner">
        {% block content %}
          {{ content }}
        {% endblock %}
      </div>
  </div>
</div>
