{#
/**
 * @file
 * Flyout component.
 *
 * Variables:
 * - theme: [string] Light, Dark.
 * - content: [string] Content.
 * - flyout_from: [string] Direction from which flyout appears.
 * - trigger_text: [string] Text on the trigger link.
 * - expanded: [boolean] Component default state.
 * - modifier_class: [string] Additional classes.
 */
#}


<div data-flyout="true" data-flyout-from="{{ flyout_from ? flyout_from : 'right' }}" {{ expanded ? ' data-flyout-expanded' : '' }} data-component-name="civic-flyout">
  <div data-flyout-trigger role="button">
    {% block trigger %}
      {{ trigger }}
    {% endblock %}
  </div>
  <div data-flyout-panel aria-hidden="{{ expanded ? not expanded : true }}">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
