{#
/**
 * @file
 * Publication Card component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - content_top: [string] Content slot.
 * - image_over: [string] Content slot.
 * - content_middle: [string] Content slot.
 * - content_bottom: [string] Content slot.
 * - size: [string] Card type: large, small.
 * - image: [object] Image object:
 *   - url: [string] Image URL.
 *   - alt: [string] Image alt text.
 * - title: [string] The text of card title.
 * - summary: [string] Summary of the card.
 * - image: [object] Image object:
 *   - url: [string] Image URL.
 *   - alt: [string] Image alt text.
 * - url: [string] Card link.
 * - link: Link object containing url, text of the file.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.attributes: text('Additional attributes', '', generalKnobTab),
 */
#}

{% set with_image = image.url is not empty %}
{% set with_image_class = with_image ? 'ct-publication-card--with-image': '' %}
{% set with_link = link.url is defined and link.url is not empty %}
{% set with_link_class = with_link ? 'ct-publication-card--with-link': '' %}
{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s %s %s'|format(theme_class, with_image_class, with_link_class, modifier_class|default('')) %}

<div class="ct-publication-card {{ modifier_class }}" {% if attributes is not empty %}{{ attributes|raw }}{% endif %}>
  {% block image %}
    {% if image.url is not empty %}
      <div class="ct-publication-card__image">
        {% include '@atoms/image/image.twig' with {
          theme: theme,
          url: image.url,
          alt: image.alt,
        } only %}

        {% block image_over %}
          {% if image_over is not empty %}
            <div class="ct-publication-card__image__over">
              {{ image_over }}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    {% endif %}
  {% endblock %}

  <div class="ct-publication-card__content">
    {% block content_top %}
      {% if content_top is not empty %}
        <div class="ct-publication-card__content-top">
          {{ content_top }}
        </div>
      {% endif %}
    {% endblock %}

    {% block title %}
      {% if title is not empty %}
        {% set title_content %}
          {% if with_link %}
            {% include '@atoms/link/link.twig' with {
              theme: theme,
              text: title,
              url: link.url,
              icon: 'download',
              modifier_class: 'ct-publication-card__content__title__link',
            } only %}
          {% else %}
            {{ title }}
          {% endif %}
        {% endset %}

        {% include '@atoms/heading/heading.twig' with {
          content: title_content,
          level: 4,
          theme: theme,
          modifier_class: 'ct-publication-card__content__title',
        } only %}
      {% endif %}
    {% endblock %}

    {% block content_middle %}
      {% if content_middle is not empty %}
        <div class="ct-publication-card__content__middle">
          {{ content_middle }}
        </div>
      {% endif %}
    {% endblock %}

    {% block summary %}
      {% if summary is not empty %}
        {% include '@atoms/paragraph/paragraph.twig' with {
          theme: theme,
          content: summary,
          allow_html: true,
          modifier_class: 'ct-publication-card__content__summary',
        } only %}
      {% endif %}
    {% endblock %}

    {% block link %}
      {% if link is not empty %}
        <div class="ct-publication-card__content__attachment">
          {% include '@atoms/link/link.twig' with {
            theme: theme,
            text: link.text,
            title: 'Download %s'|format(link.url|split('.')|last),
            url: link.url,
          } only %}
        </div>
      {% endif %}
    {% endblock %}

    {% block content_bottom %}
      {% if content_bottom is not empty %}
        <div class="ct-publication-card__content-bottom">
          {{ content_bottom }}
        </div>
      {% endif %}
    {% endblock %}
  </div>
</div>
