{#
/**
 * @file
 * Chip component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - kind: [string] Chip kind: submit, reset, button, link, checkbox, radio.
 * - size: [string] Chip size: extra-large, large, regular, small, extra-small.
 * - icon: [string] Icon name.
 * - icon_placement: [string] Icon position: left, right
 * - icon_size: [string] Icon size: extra-large, large, regular, small, extra-small.
 * - text: [string] Chip text.
 * - title: [string] Chip title.
 * - url: [string] URL for the link button.
 * - id: [string] ID attribute.
 * - name: [string] Name attribute.
 * - is_raw_text: [boolean] Output text as raw value.
 * - is_new_window: [boolean] Open in a new window or not.
 * - is_external: [boolean] If link is external or not.
 * - is_disabled: [boolean] Disabled or not.
 * - is_dismissible: [boolean] Can be dismissed or not.
 * - is_selected: [boolean] Is the button selected (for filter chips).
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}
{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set kind = kind in ['default', 'input'] ? kind : 'default' %}
{% set kind_class = kind ? 'civictheme-chip--%s'|format(kind) : '' %}
{% set type_class = 'civictheme-chip--chip' %}
{% set multiple_class = is_multiple ? 'civictheme-chip--multiple' : '' %}
{% set dismiss_class =  is_dismissible ? 'civictheme-chip--dismiss' : '' %}
{% set modifier_class = '%s %s %s %s %s %s'|format(theme_class, kind_class, type_class, multiple_class, dismiss_class, modifier_class|default('')) %}

{% set button_text %}
  {% if is_dismissible or is_selected %}
    {{ content }}<span class="civictheme-chip__dismiss" data-chip-dismiss>X</span>
  {% else %}
    {{ content }}
  {% endif %}
{% endset %}

{% if content|trim is not empty %}
  {% if kind == 'input' and is_multiple %}
    <label class="civictheme-chip {{ modifier_class }}" data-component-name="chip"><input type="checkbox" value="{{ is_dismissible ?? 1 }}" {% if name is not empty %}name="{{ name }}"{% endif %} {% if attributes %}{{ attributes|raw }}{% endif %}>{{ button_text|trim }}</label>
  {% elseif kind == 'input' %}
    <label class="civictheme-chip {{ modifier_class }}" data-component-name="chip"><input type="radio" value="{{ is_dismissible ?? 0 }}" {% if name is not empty %}name="{{ name }}"{% endif %}  {% if attributes %}{{ attributes|raw }}{% endif %}>{{ button_text|trim }}</label>
  {% else %}
    <span class="civictheme-chip {{ modifier_class }}" {% if attributes %}{{ attributes|raw }}{% endif %} data-component-name="chip">{{ button_text }}</span>
  {% endif %}
{% endif %}
