{#
/**
 * @file Menu component.
 *
 * Available variables:
 * - theme: [string] Theme: light, dark.
 * - items: [array] Menu links array.
 * - menu_type: [string] Menu type to change the style and behaviour.
 */
#}

{% set classes = ['civic-menu'] %}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set classes = classes|merge([theme_class]) %}
{% set menu_type = menu_type ? menu_type : 'main' %}
{% set classes = classes|merge(['civic-menu--%s'|format(menu_type)]) %}

{% import _self as menus %}

{% macro menu_links(items, menu_level, classes, menu_type) %}
  {% if items %}
    {% set top_level_menu = (menu_level == 0) %}
    {% if top_level_menu %}
      <ul class="{{ classes|join(' ') }}" data-component-name="{{ 'civic-menu--%s'|format(menu_type) }}">
    {% else %}
      <ul class="civic-menu civic-menu__sub-menu">
    {% endif %}
    {% for item in items %}
      {% set is_collapsible = menu_type == 'main' and item.below %}
      <li class="civic-menu__item {{ is_collapsible ? 'civic-dropdown' : '' }}" {{ is_collapsible ? 'data-component-name="civic-dropdown"'}}>
        {%
          set item_classes = [
          'civic-menu-item',
          item.is_expanded ? 'civic-menu-item--expanded' : '',
          item.is_collapsed ? 'civic-menu-item--collapsed' : '',
          item.in_active_trail ? 'civic-menu-item--active-trail' : '',
        ]|join(' ')
        %}
        <div class="civic-menu__item--link {{ is_collapsible ? 'civic-dropdown__trigger' : '' }}" {{  is_collapsible ? 'data-component-name="civic-dropdown-trigger"' }}>
          {% include '@atoms/link/link.twig' with {
            theme: theme,
            text: item.title,
            title: item.title,
            url: item.url,
            modifier_class: item_classes,
            attributes: not top_level_menu and is_collapsible ? 'tabindex="-1"',
          } only %}

          {% if menu_type == 'main' and item.below %}
            {% include '@atoms/icon/icon.twig' with {
              symbol: 'arrows_downarrowlarge',
              size: 'regular',
              color: 'footer',
              modifier_class: 'civic-dropdown__caret'
            } only %}
            {% include '@atoms/icon/icon.twig' with {
              symbol: 'arrows_rightarrow_3',
              size: 'regular',
              color: 'footer',
              modifier_class: 'civic-mobile-menu__select-arrow'
            } only %}
            {% include '@atoms/icon/icon.twig' with {
              symbol: 'arrows_leftarrow_1',
              size: 'regular',
              color: 'footer',
              modifier_class: 'civic-mobile-menu__back-arrow'
            } only %}
          {% endif %}
        </div>

        {% if item.below %}
          <div class="{{ is_collapsible ? 'civic-dropdown__menu' : '' }}" {{ is_collapsible ? 'data-component-name="civic-dropdown-menu"' }}>
            {{ menus.menu_links(item.below, menu_level + 1, classes, menu_type) }}
          </div>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{{ menus.menu_links(items, 0, classes, menu_type) }}
