{#
/**
 * @file
 * Tag component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - type: [string] Type: primary, secondary, tertiary
 * - content: [string] Content.
 * - icon: [string] Icon name.
 * - icon_placement: [string] Icon position: before, after.
 * - url: [string] Optional URL to convert to a link.
 * - is_new_window: [boolean] Open in a new window. Only if url is provided.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set type = type in ['primary', 'secondary', 'tertiary'] ? type : 'primary' %}
{% set type_class = 'civictheme-tag--%s'|format(type) %}
{% set icon_class = icon is not empty ? 'civictheme-tag--with-icon' : '' %}
{% set icon_placement_class = icon ? 'civictheme-tag--icon-%s'|format(icon_placement|default('before')) : '' %}
{% set modifier_class = '%s %s %s %s %s'|format(theme_class, type_class, icon_class, icon_placement_class, modifier_class|default('')) %}
{% set modifier_class = '%s %s %s %s %s'|format(theme_class, type_class, icon_class, icon_placement_class, modifier_class|default('')) %}

{% set tag = url is not empty ? 'a' : 'span' %}

{% set icon %}
  {% if icon %}
    {% include '@atoms/icon/icon.twig' with {
      symbol: icon,
      size: 'small',
    } only %}
  {% endif %}
{% endset %}

{% set text %}
  {{ icon_placement == 'before' ? icon : '' }}{{ content }}{{ icon_placement == 'after' ? icon : '' }}
{% endset %}

{% if is_new_window %}
  {% set text %}
    {{ text }}<span class="civictheme-tag--external">(Opens in a new tab / window)</span>
  {% endset %}
{% endif %}

{% if is_external %}
  {% set text %}
    {{ text }}
    {% include '@atoms/icon/icon.twig' with {
      symbol: 'upper-right-arrow',
      size: 'small',
    } only %}
  {% endset %}
{% endif %}

{% if text|trim is not empty %}
  <{{ tag }}
    class="civictheme-tag {{ modifier_class }}"
    {% if url is not empty %}
      href="{{ url }}"
    {% endif%}

    {% if is_new_window is not empty or is_external %}
      target="_blank"
    {% endif%}

    {% if content is not empty %}
      title="{{ content }}"
      aria-label="{{ content }}"
    {% endif%}

    {% if attributes is not empty %}
      {{ attributes|raw }}
    {% endif %}
  >{{ text|trim }}</{{ tag }}>
{% endif %}
