{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

<header class="civic-header {{ modifier_class }}" role="banner">
  {% block top %}
    {% if top is not empty %}
      <div class="civic-header__top">
        <div class="container">
          <div class="row">
            <div class="xs-hide col-m-12">
              <div class="civic-header__top-inner">
                {{ top }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}

  {% block logocontent %}
    {% if logo is not empty or content is not empty %}
      <div class="container">
      <div class="row">
        {% if logo is not empty %}
          <div class="col-m-4">
            <div class="civic-header__logo">
              {% block logo %}
                {{ logo }}
              {% endblock %}
            </div>
          </div>
        {% endif %}

        {% if content is not empty %}
          <div class="col-m-8">
            {% block content %}
              <div class="civic-header__content">
                {{ content }}
              </div>
            {% endblock %}
          </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
  {% endblock %}

  {% block bottom %}
    {% if bottom %}
      <div class="container">
        <div class="row">
          <div class="col-m-12">
            <div class="civic-header__bottom">
              {{ bottom }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}

</header>
