{#
/**
 * @file
 * Button component.
 *
 * Variables:
 * - disabled: [boolean] Disabled state.
 * - kind: [string] submit, reset, button, link (this would have different markup based on type).
 * - modifier_class: [string] Classes to modify the default component styling.
 * - new_window: [boolean] Open in a new window.
 * - text: [string] Button text.
 * - url: [string] URL for the link button.
 */
#}

{% set kind = kind|default('button') %}
{% set modifier_class = modifier_class|default('civic-button--light civic-button--primary civic-button--normal')%}
{% set url = url|default('#') %}


{% if kind == 'button'%}
	<button class="civic-button {{ modifier_class }}" data-component-name="button" {{ disabled ? 'disabled' }}>{{ text }}</button>
{% elseif kind == 'link' %}
	<a class="civic-button civic-button-link {{ modifier_class }}" data-component-name="link-button" href="{{ url }}" title="{{ text }}" {{ new_window ? 'target="_blank"' }}>{{ text }}</a>
{% elseif kind == 'reset' or kind == 'submit' %}
	<input class="civic-button {{ modifier_class }}" type="{{ kind }}" data-component-name="button" value="{{ text }}" {{ disabled ? 'disabled' }}/>
{% endif %}