{#
/**
 * @file
 * Icon Link component.
 *
 * Variables:
 * - symbol: [string] Replaces link text with icon.
 * - text: [string] Link text or title attribute.
 * - size: [string] Icon size.
 * - modifier_class: [string] Classes to modify the default component styling.
 * - new_window: [boolean] Open in a new window.
 * - url: [string] URL for the link button.
 */
#}
{% set classes = ['civic-icon-link'] %}
{% set size_class = size ? 'civic-icon-link--size-%s'|format(size) : '' %}
{% set classes = classes|merge([size_class]) %}
{% set classes = with_border ? classes|merge(['civic-icon-link--with-border']) : classes %}
{% set classes = modifier_class ? classes|merge([modifier_class]) : classes %}
{% set theme_class = 'civic-icon-link--%s'|format(theme|default('light')) %}
{% set classes = classes|merge([theme_class]) %}

<a class="{{ classes|join(' ') }}" href="{{ url }}" {{ new_window ? 'target="_blank"' }} {% if text %} title="{{ title }}" {% endif %}>
  <span class="visually-hidden">{{ title }}</span>
  {% include '@atoms/icon/icon.twig' with {
    symbol: symbol,
    size: size
  }  only %}
</a>
