{#
/**
 * @file
 * Select component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - options: [array] Options:
 *   - type: [string] Option type: option group (optgroup) or option (option).
 *   - label: [string] Option label.
 *   - value: [string] Option value.
 *   - selected: [string] Flag whether option is selected.
 *   - options: [array] Array of options (applies to optgroup type):
 *     - label: [string] Option label.
 *     - value: [string] Option value.
 *     - selected: [string] Flag whether option is selected.
 * - is_multiple: [boolean] Is multiple.
 * - name: [string] DOM name.
 * - id: [string] DOM id.
 * - is_disabled: [boolean] Denote if the component is disabled.
 * - is_invalid: [boolean] Denote if the component is invalid.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set disabled_class = is_disabled ? 'civictheme-select--disabled' : '' %}
{% set error_class = is_invalid ? 'civictheme-select--error' : '' %}
{% set modifier_class = '%s %s %s %s'|format(theme_class, disabled_class, error_class, modifier_class|default(''))|trim %}

{% if name is not empty and options is not empty %}
  <select
    class="civictheme-select {{ modifier_class }}"
    {{ disabled ? 'disabled' }}
    {{ is_multiple ? 'multiple' }}
    name="{{ name }}"
    {% if id %}id="{{ id }}"{% endif %}
    {{ is_disabled ? 'disabled' }}
    {% if attributes is not empty %}{{ attributes|raw }}{% endif%}
  >
    {% for option in options %}
      {% if option.type == 'optgroup' %}
        <optgroup label="{{ option.label }}">
          {% for sub_option in option.options %}
            {% if sub_option.label is not empty %}
              <option value="{{ sub_option.value|default('') }}" {{ sub_option.selected ? 'selected="selected"' }}>{{ sub_option.label }}</option>
            {% endif %}
          {% endfor %}
        </optgroup>
      {% elseif option.type == 'option' %}
        {% if option.label is not empty%}
          <option value="{{ option.value|default('') }}" {{ option.selected ? 'selected="selected"' }}>{{ option.label }}</option>
        {% endif %}
      {% endif %}
    {% endfor %}
  </select>
{% endif %}
