{#
/**
 * @file
 * CivicTheme Group Filter component.
 *
 * Props:
 * - theme: [string] Theme variation (light or dark).
 * - title: [string] Filter title.
 * - form_attributes: [Drupal\Core\Template\Attribute] Form attributes (if empty, the form will not be printed).
 * - form_hidden_fields: [string] Form hidden fields.
 * - filters: [array] Filter objects:
 *   Each item contains:
 *   - title: [string] Filter title.
 *   - content: [string] Filter content.
 * - submit_text: [string] Text on the submit button.
 * - group_id: [string] Unique ID for filter group.
 * - show_selected_filters: [boolean] Enable the selected filters list below the filter fields.
 * - selected_title: [string] Text on the selected filters label.
 * - selected_filters: [array] Selected filter object:
 *   Each item contains:
 *   - text: [string] Filter title.
 *   - url: [string] URL to remove the selected filter.
 *   - label: [string] ARIA Label used to describe the selected filter.
 * - selected_clear_link: [object] A link to clear all selected filters.
 *   Each property contains:
 *   - type: [string] Type of button to use.
 *   - icon: [string] Icon to use in the button.
 *   - icon_placement: [string] Icon position (before or after).
 *   - text: [string] Button text.
 *   - url: [string] URL for the button. Should remove clear links on navigation.
 * - attributes: [Drupal\Core\Template\Attribute] Additional HTML attributes.
 * - modifier_class: [string] Additional CSS classes.
 *
 * Slots:
 * - content_top: Top content area content.
 * - content_bottom: Bottom content area content.
 *
 * Blocks:
 * - content_top_block
 * - filters_block
 * - content_bottom_block
 */
#}

{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

{% if filters is not empty %}
  {% set title = title|default('Filter results by:') %}

  <div
    class="ct-group-filter {{ modifier_class -}}"
    data-component-name="ct-group-filter"
    {% if attributes is defined and attributes is not null %}{{- attributes -}}{% endif %}
  >
    <div class="ct-group-filter__filter-controls" data-group-filter-element>
      <div class="row">
        <div class="col-xxs-12">

          {% if content_top is not empty %}
            {% block content_top_block %}
              <div class="ct-group-filter__content-top">
                {{- content_top -}}
              </div>
            {% endblock %}
          {% endif %}

          {% block filters_block %}
            {% set group = 'ct-group-filter--group-' ~ group_id|default(random(1000, 9999)) %}
            {% set filters_items = [] %}
            {% for filter in filters %}
              {% set filters_item %}
                {% include 'civictheme:popover' with {
                  theme: theme,
                  content: filter.content,
                  trigger: {
                    text: filter.title,
                  },
                  group: group,
                } only %}
              {% endset %}
              {% set filters_items = filters_items|merge([filters_item]) %}
            {% endfor %}

            {% if form_attributes is defined and form_attributes is not null %}
              <form {{ form_attributes }}>
            {% endif %}

            <div class="row row--no-wrap ct-group-filter__row">
              <div class="col col--no-grow">
                <div class="ct-flex-row-align-middle">
                  {% if title %}
                    <div class="ct-group-filter__title">{{ title }}</div>
                  {% endif %}
                </div>
              </div>

              <div class="col">
                <div class="ct-flex-row-align-middle">
                  {% include 'civictheme:item-list' with {
                    items: filters_items,
                    size: 'large',
                    modifier_class: 'ct-group-filter__filters',
                    attributes: create_attribute({'data-group-filter-filters': ''}),
                  } only %}
                </div>
              </div>

              <div class="col col--no-grow">
                <div class="ct-flex-row-align-middle">
                  {% include 'civictheme:button' with {
                    theme: theme,
                    kind: 'button',
                    type: 'primary',
                    size: 'small',
                    text: submit_text|default('Apply filters'),
                    icon: 'approve',
                    icon_placement: 'after',
                    attributes: create_attribute({type: 'submit'}),
                    modifier_class: 'ct-group-filter__submit',
                  } only %}
                </div>
              </div>
            </div>

            {% if form_hidden_fields is defined %}
              {{ form_hidden_fields }}
            {% endif %}

            {% if form_attributes is defined and form_attributes is not null %}
              </form>
            {% endif %}
          {% endblock %}

          {% block content_bottom_block %}
            {% if content_bottom is not empty %}
              <div class="ct-group-filter__content-bottom">
                {{- content_bottom -}}
              </div>
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </div>

    {% if show_selected_filters %}
      <div class="ct-group-filter__selected-filter-controls">
        <div class="ct-group-filter__selected-active-filters">
          <div class="ct-group-filter__selected-title">
            {{- selected_title|default('Selected filters:') -}}
          </div>
          {% set selected_items = [] %}
          {% for selected_filter in selected_filters %}
            {% set selected_filter_item %}
              {% include 'civictheme:chip' with {
                kind: 'link',
                theme: theme,
                content: selected_filter.text,
                is_dismissible: true,
                is_selected: true,
                url: selected_filter.url,
                size: 'small',
                label: selected_filter.label|default('Selected filter: ' ~ selected_filter.text ~ ' - Click to remove filter.'),
              } only %}
            {% endset %}
            {% set selected_items = selected_items|merge([selected_filter_item]) %}
          {% endfor %}
          {% include 'civictheme:item-list' with {
            direction: 'horizontal',
            size: 'small',
            items: selected_items,
            modifier_class: 'ct-group-filter__selected-list',
          } only %}
        </div>
        {% if selected_clear_link %}
          <div class="ct-group-filter__selected-clear">
            {% include 'civictheme:button' with {
              theme: theme,
              kind: 'link',
              type: selected_clear_link.type|default('secondary'),
              size: 'small',
              icon: selected_clear_link.icon|default('close-outline'),
              icon_placement: selected_clear_link.icon_placement|default('after'),
              text: selected_clear_link.text|default('Clear all'),
              url: selected_clear_link.url,
            } only %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
