{#
/**
 * @file
 * Mobile Navigation Link component.
 *
 * Variables:
 * - icon: [string] Replaces link text with icon.
 * - text: [string] Link text or title attribute.
 * - size: [string] Icon size.
 * - modifier_class: [string] Classes to modify the default component styling.
 * - url: [string] URL for the link button.
 */
#}
{% set size_class = size ? 'civic-mobile-navigation-link--size-%s'|format(size) : '' %}
{% set modifier_class = [size_class] %}
{% set modifier_class = modifier_class ? modifier_class|merge([modifier_class]) : modifier_class %}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = modifier_class|merge([theme_class]) %}

<a class="civic-mobile-navigation-link {{ modifier_class|join(' ') }}" href="{{ url }}" {{ new_window ? 'target="_blank"' }} {% if text %} title="{{ text }}" {% endif %}>
  <div class="civic-mobile-navigation-link__link">{{ text }}</div>
  <div class="civic-mobile-navigation-link__icon">
    {% include '@atoms/icon/icon.twig' with {
      symbol: icon,
      size: size
    }  only %}
  </div>
</a>
