{#
/**
 * @file
 * Fieldset component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark. Optional.
 * - legend: [string] Legend for the fieldset. Optional.
 * - description: [string] Description for the fieldset. Optional.
 * - description_display: [string] Description display: before, after, invisible. Default is before. Optional.
 * - message: [string] Message content. Optional.
 * - message_type: [string] Type of the message: error, warning, info, success. Default is error.
 * - fields: [string] Fields content. Optional.
 * - is_required: [boolean] Denote if the fieldset is required. Optional.
 * - attributes: [string] Additional attributes for the fieldset. Optional.
 * - modifier_class: [string] Additional classes. Optional.
 */
#}

{% set description_display = description_display in ['before', 'after', 'invisible'] ? description_display : 'before' %}
{% set message_type = message_type|default('error') %}
{% set required_class = is_required ? 'ct-fieldset--required' : '' %}
{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s %s'|format(theme_class, required_class, modifier_class|default('')) %}

<fieldset class="ct-fieldset {{ modifier_class -}}" {% if attributes is not empty %}{{- attributes|raw -}}{% endif %}>
	{% if legend is not empty %}
		{% include '@atoms/label/label.twig' with {
			theme: theme,
			tag: 'legend',
			size: 'large',
			content: legend,
			is_required: is_required,
			modifier_class: 'ct-fieldset__legend',
		} only %}
	{% endif %}

	<div class="ct-fieldset__wrapper">
		{% if description is not empty and (description_display == 'before' or description_display == 'invisible') %}
			{% include '@atoms/paragraph/paragraph.twig' with {
				theme: theme,
				content: description,
				allow_html: true,
				modifier_class: 'ct-fieldset__description ' ~ (description_display == 'invisible' ? 'ct-fieldset__description--invisible ct-visually-hidden' : 'ct-fieldset__description--before'),
			} only %}
		{% endif %}

		{% if message %}
			{% include '@atoms/field-message/field-message.twig' with {
				theme: theme,
				type: message_type,
				content: message,
				allow_html: true,
				modifier_class: 'ct-fieldset__message',
			} only %}
		{% endif %}

		{% if prefix is not empty %}
			<div class="ct-fieldset__prefix">{{- prefix|raw -}}</div>
		{% endif %}

		{% block fields %}
			{% if fields is not empty %}
				<div class="ct-fieldset__fields">
					{{- fields|raw -}}
				</div>
			{% endif %}
		{% endblock %}

		{% if suffix is not empty %}
			<div class="ct-fieldset__suffix">{{- suffix|raw -}}</div>
		{% endif %}

		{% if description is not empty and description_display == 'after' %}
			{% include '@atoms/paragraph/paragraph.twig' with {
				theme: theme,
				content: description,
				allow_html: true,
				modifier_class: 'ct-fieldset__description ct-fieldset__description--after',
			} only %}
		{% endif %}
	</div>
</fieldset>
