{#
/**
 * @file
 * Radio component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - content: [string] Label content.
 * - name: [string] DOM name.
 * - value: [string] DOM value.
 * - id: [string] DOM id.
 * - is_checked: [boolean] Denote if the component is checked.
 * - is_disabled: [boolean] Denote if the component is disabled.
 * - is_invalid: [boolean] Denote if the component is invalid.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set disabled_class = is_disabled ? 'civictheme-radio--disabled' : '' %}
{% set error_class = is_invalid ? 'civictheme-radio--error' : '' %}
{% set modifier_class = '%s %s %s %s'|format(theme_class, disabled_class, error_class, modifier_class|default(''))|trim %}

{% if name is not empty %}
  <div class="civictheme-radio {{ modifier_class }}" {% if attributes %}{{ attributes|raw }}{% endif %}>
    <input
      class="civictheme-radio__element"
      type="radio"
      name="{{ name }}"
      {% if value %}value="{{ value }}"{% endif %}
      {% if id %}id="{{ id }}"{% endif %}
      {{ is_checked ? 'checked' }}
      {{ is_disabled ? 'disabled' }}
    />
    <span class="civictheme-radio__state"></span>
    {% if content is not empty %}
      <label class="civictheme-radio__label" {% if id %}for="{{ id }}"{% endif %}>
        {{ content }}
      </label>
    {% endif %}
  </div>
{% endif %}
