{#
/**
 * @file
 * radio component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - content: [string] Input field label.
 * - value: [string] Input field value.
 * - disabled: [boolean] Disabled state.
 * - required: [boolean] Required state.
 * - has_error: [boolean] Error state.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set disabled_class = disabled ? 'civictheme-radio--disabled' : '' %}
{% set required_class = required ? 'civictheme-radio--required' : '' %}
{% set error_class = has_error ? 'civictheme-radio--error' : '' %}
{% set modifier_class = '%s %s %s %s %s'|format(theme_class, disabled_class, required_class, error_class, modifier_class|default('')) %}

<div class="civictheme-radio {{ modifier_class|trim }}">
  <input class="civictheme-radio__element" type="radio" value="{{ value }}" {% if attributes is not empty %}{{ attributes|raw }}{% endif %} {{ disabled ? 'disabled' }} {{ required ? 'required' }}/>
  <span class="civictheme-radio__state"></span>
  {% if content is not empty %}
    <label class="civictheme-radio__label{{ disabled ? ' civictheme-radio__label--disabled' }}">{{ content }}</label>
  {% endif %}
</div>
