{#
/**
 * @file
 * Accordion component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - title: [string] Title.
 * - expand_all: [boolean] Expand all panels or not.
 * - panels: [array] Array of panels:
 *   - title: [string] Panel title
 *   - expanded: [boolean] Panel is expanded or not.
 *   - content: [string] Panel content.
 * - vertical_space: [string] With top, bottom or both vertical spaces.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set vertical_space_class = vertical_space in ['top', 'bottom', 'both'] ? 'data-accordion-vertical-space-%s'|format(vertical_space) : '' %}
{% set theme_class = 'data-accordion-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s'|format(modifier_class|default('')) %}

{% if panels is not empty %}
  <div class="{{ modifier_class }}" data-accordion {{ vertical_space_class }} {{ theme_class }}>
    <div class="container">
      <div class="row">
        {% if title is not empty %}
          <div class="col-xs-12" data-accordion-content-top>
            <div data-accordion-title-top>
              {{ title }}
            </div>
          </div>
        {% endif %}

        <div class="col-xs-12" data-accordion-inner>
          <ul data-accordion-list data-multiselectable="true">
            {% for fold in panels %}
              {% if fold.title is not empty or fold.content is not empty %}
                {% set is_expanded = (fold.expanded == true) or (expand_all == true) %}
                <li data-accordion-list-item>
                  <div data-accordion-header>
                    {% set is_open = is_expanded ? 'is-selected' : '' %}
                    <button data-accordion-header-button {{ is_open }}>
                      {% if fold.title is not empty %}
                        <span>{{ fold.title }}</span>
                      {% endif %}
                      {% include '@atoms/icon/icon.twig' with {
                        symbol: 'arrows_downarrow_1'
                      } only %}
                    </button>
                  </div>

                  {% if fold.content is not empty %}
                    {% set is_open = is_expanded ? 'data-accordion-content-expanded' : '' %}
                    <div {{ is_open }} data-accordion-content>
                      <div data-accordion-inner data-accordion-content-inner>
                        {{ fold.content|raw }}
                      </div>
                    </div>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endif %}
