{#
/**
 * @file
 * Field component.
 *
 * Used as a main entry point to build any form fields.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - fields: [array] An array of fields.
 * - label: [string] Label.
 * - description: [string] Description.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

{% if description is not empty or fileds is not empty %}
  <fieldset class="ct-field-group {{ modifier_class }}" {% if attributes %}{{ attributes|raw }}{% endif %}>
    {% if label is not empty %}
      <legend class="ct-field-group__legend ct-label ct-label--large {{ theme_class }}">{{ label }}</legend>
    {% endif %}

    {% if description is not empty %}
      {% include '@atoms/field-description/field-description.twig' with {
        theme: theme,
        size: 'large',
        content: description,
        modifier_class: 'ct-field-group__description',
      } only %}
    {% endif %}

    <div class="ct-field-group__wrapper">
      {% for field in fields %}
        <div class="ct-field-group__field">
          {{ field }}
        </div>
      {% endfor %}
    </div>
  </fieldset>
{% endif %}
