{% set form_element_type_class = 'civic-form-element--%s'|format(type) %}
{% set form_element_name_class = 'civic-form-element--%s'|format(name) %}
{% set required_class = required ? 'civic-form-element--form-required' : '' %}
{% set error_class = errors ? 'civic-form-element--error' %}
{% set modifier_class = '%s %s %s %s %s'|format(form_element_type_class, form_element_name_class, required_class, error_class, modifier_class|default('')) %}

<fieldset class="civic-form-element {{ modifier_class }}" {{ attributes }}>
  <legend class="civic-label {{ legend_modifier_class }}" {{ legend.attributes }}>
    <span{{ legend_span.attributes }}>{{ legend.title }}</span>
  </legend>
  <div class="fieldset-wrapper">
    {% if errors %}
      <div>
        {{ errors }}
      </div>
    {% endif %}
    {% if prefix %}
      <span class="field-prefix">{{ prefix }}</span>
    {% endif %}
    {{ children }}
    {% if suffix %}
      <span class="field-suffix">{{ suffix }}</span>
    {% endif %}
    {% if description.content %}
      <div class="description {{ description_modifier_class }}" {{ description.attributes }}>{{ description.content }}</div>
    {% endif %}
  </div>
</fieldset>
