{#
/**
 * @file Menu component.
 *
 * Available variables:
 * - theme: [string] Theme: light, dark.
 * - items: [array] Menu links array.
 */
#}

{% set classes = ['civic-mobile-navigation'] %}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set classes = classes|merge([theme_class]) %}
{% set modifier_class = '%s %s %s'|format(theme_class,decorative_class,modifier_class|default('')) %}
{% set classes = classes|merge([theme_class]) %}

{% import _self as menus %}
{% macro menu_links(items, menu_level, classes) %}
  {% if items %}
    {% set top_level_menu = (menu_level == 0) %}
    {% if top_level_menu %}
      <ul class="{{ classes|join(' ') }}" data-component-name="civic-mobile-navigation">
        <a class="civic-mobile-navigation__close" href="#">
        Close
        {% include '@atoms/icon/icon.twig' with {
          symbol: 'userinterface_cancel',
          size: icon_size ? icon_size : 'regular',
          color: 'footer',
        } only %}
        </a>
        <div class="civic-mobile-navigation__parent-link">Home</div>
    {% else %}
      <ul class="civic-mobile-navigation__submenu-menu">
    {% endif %}
    {% for item in items %}
      <li class="civic-mobile-navigation__item {{ item.below ? 'civic-mobile-navigation__item--has-submenu' : '' }}">
        {% if item.below %}
          {% embed '@molecules/flyout/flyout.twig' %}
            {% block trigger %}
              {% include '@atoms/mobile-navigation-link/mobile-navigation-link.twig' with {
                theme: theme,
                text: item.title,
                url: item.url,
                attributes: not top_level_menu and is_expandable ? 'tabindex="-1"',
                icon: item.below ? 'arrows_rightarrow_3' : null,
              } only %}
            {% endblock %}
            {% block content %}
              <div class="civic-mobile-navigation__submenu">
                <div class="civic-mobile-navigation__back-button civic-flyout__close" role="button">
                  {% include '@atoms/icon/icon.twig' with {
                    symbol: 'arrows_leftarrow_1',
                    size: icon_size ? icon_size : 'regular',
                    color: 'footer',
                    modifier_class: 'civic-mobile-navigation__back-arrow',
                  } only %}
                  <div class="civic-mobile-navigation__parent-link">{{ item.title }}</div>
                </div>
                {{ menus.menu_links(item.below, menu_level + 1, classes) }}
              </div>
            {% endblock %}
          {% endembed %}
        {% else %}
          {% include '@atoms/mobile-navigation-link/mobile-navigation-link.twig' with {
            theme: theme,
            text: item.title,
            url: item.url,
            attributes: not top_level_menu and is_expandable ? 'tabindex="-1"',
          } only %}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{{ menus.menu_links(items, 0, classes) }}
