{#
/**
 * @file Menu control.
 *
 * Available variables:
 * - theme: [string] Theme: light, dark.
 * - type: [string] Type of control - close, open, back.
 * - aria_label: [string] Specifiy an aria label if not specifying a visible label.
 * - label: [string] Button label.
 * - component_name: [string] Type of component.
 * - component_target: [string] Target of component.
 * - icon: [string] Icon symbol.
 * - modifier_class: [string] Additional classes to modify component styling.
 * - theme: [string] theme: light, dark.
 * - attributes: [string] Additional attributes for button.
 */
#}
{% set aria_expanded = type == 'open' ? 'aria-expanded="false"' : '' %}
{% set aria_label = aria_label is empty ? label : aria_label %}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}
<button class="civic-mobile-menu-wrapper__{{ type }}-ctrl {{ modifier_class }}"
  {% if aria_label %}
    aria-label="{{ aria_label }}"
  {% endif %}
  {{ aria_expanded }}
  {{ attributes }}>
  {{ label }}
  {% if icon %}
    {% include '@atoms/icon/icon.twig' with {
      symbol: icon,
      modifier_class: 'civic-icon--button civic-mobile-menu-wrapper__ctrl-icon',
    } %}
  {% endif %}
</button>
