{#
/**
 * @file Menu component.
 *
 * Available variables:
 * - theme: [string] Theme: light, dark.
 * - items: [array] Menu links array.
 */
#}

{% set classes = ['civic-mobile-navigation'] %}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = modifier_class|default('') %}
{% set classes = classes|merge([theme_class]) %}
{% set classes = classes|merge([modifier_class]) %}

{% import _self as menus %}
{% macro menu_links(items, menu_level, classes, parent_link) %}
  <div class="{{ classes|join(' ') }}" data-component-name="civic-mobile-navigation">
  {% if items %}
    <div class="civic-mobile-navigation__close">
      {%- block close %}
        {% if close is empty %}
        <a data-flyout-close-all class="civic-mobile-navigation__close-button" href="#" role="button">
          Close
          {% include '@atoms/icon/icon.twig' with {
            symbol: 'userinterface_cancel',
            size: icon_size ? icon_size : 'regular',
            color: 'footer',
          } only %}
        </a>
        {% else %}
        {{- close -}}
        {% endif %}
      {% endblock -%}
    </div>
  
    {% if block('content_top') is defined %}
      <div class="row">
        <div class="col-xs-12">
          <div class="civic-mobile-navigation__content-top">
            {%- block content_top %}
              {{- content_top -}}
            {% endblock -%}
          </div>
        </div>
      </div>
    {% endif %}

    {% set top_level_menu = (menu_level == 0) %}
    {% if top_level_menu %}
      <div class="civic-mobile-navigation__parent-link">Home</div>
    {% else %}
      <a class="civic-mobile-navigation__back-button" data-flyout-close href="#" tabindex="0" role="button">
        {% include '@atoms/icon/icon.twig' with {
          symbol: 'arrows_leftarrow_1',
          size: icon_size ? icon_size : 'regular',
          color: 'footer',
          modifier_class: 'civic-mobile-navigation__back-arrow',
        } only %}
        <div class="civic-mobile-navigation__parent-link">{{ parent_link }}</div>
      </a>
    {% endif %}

    <ul class="civic-mobile-navigation__links-list">
    {% for item in items %}
      <li class="civic-mobile-navigation__item {{ item.below ? 'civic-mobile-navigation__item--has-submenu' : '' }}">
        {% if item.below %}
          <div data-flyout>
            <div data-flyout-trigger>
              {% include '@atoms/mobile-navigation-link/mobile-navigation-link.twig' with {
                theme: theme,
                text: item.title,
                url: item.url,
                icon: item.below ? 'arrows_rightarrow_3' : null,
              } only %}
            </div>
            <div data-flyout-panel>
              {{ menus.menu_links(item.below, menu_level + 1, classes, item.title) }}
            </div>
          </div>
        {% else %}
          {% include '@atoms/mobile-navigation-link/mobile-navigation-link.twig' with {
            theme: theme,
            text: item.title,
            url: item.url,
          } only %}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
{% endmacro %}

{{ menus.menu_links(items, 0, classes) }}
