{#
/**
 * @file
 * Input component.
 *
 * Variables:
 * - type: [string] Input type: Text, Textarea, Email, Password, Tel.
 * - modifier_class: [string] Additional classes to modify component styling.
 * - value: [string] Input field value.
 * - placeholder: [string] Input field placeholder text.
 * - id: [string] Input field html ID attribute.
 * - name: [string] Input field html name attribute.
 * - State: [string] Input field state: Error, Success.
 * - required: [boolean] Required state.
 * - disabled: [boolean] Disabled state.
 * - autocomplete: [boolean] Autocomplete state.
 */
#}
{% set classes = [
  'civic-input',
  'civic-theme-%s'|format(theme|default('light')),
  disabled ? 'disabled' : '',
  required ? 'required' : '',
  state and (state != 'none') ? 'civic-input--%s'|format(state) : '',
  type ? 'civic-input--%s'|format(type) : '',
  modifier_class ? modifier_class : ''
] %}

{% set state_icon = (state == 'error') ? 'userinterface_close_2' : 'userinterface_approve' %}

<div class="{{ classes|join(' ') }}">
  {% if type == 'textarea' %}
    <textarea class="civic-input__element" value="{{ value }}" {% if placeholder %} placeholder="{{ placeholder }}" {% endif %} {{ disabled ? 'disabled' }} {{ required ? 'required' }} rows="5" cols="58"></textarea>
  {% elseif type == 'text' %}
    <input class="civic-input__element" type="{{ type }}" value="{{ value }}" {% if attributes %}{{ attributes }}{% endif %} {% if placeholder %} placeholder="{{ placeholder }}" {% endif %} {{ disabled ? 'disabled' }} {{ required ? 'required' }} {{ autocomplete ? 'autocomplete' }} />

    {% if state and (state != 'none') %}
      <span class="civic-input__state">
        {% include '@atoms/icon/icon.twig' with {
          symbol: state_icon
        } %}
      </span>
    {% endif %}
  {% elseif type == 'radio' %}
    {% include '@atoms/radio/radio.twig' %}
  {% elseif type == 'checkbox' %}
    {% include '@atoms/checkbox/checkbox.twig' %}
  {% else %}
    <input class="civic-input__element" type="{{ type }}" value="{{ value }}" {% if attributes %}{{ attributes }}{% endif %} />
  {% endif %}

  {{ children }}
</div>
