{#
/**
 * @file
 * Input component.
 *
 * Variables:
 * - type: [string] Input type: Text, Textarea, Email, Password, Tel.
 * - modifier_class: [string] Additional classes to modify component styling.
 * - value: [string] Input field value.
 * - placeholder: [string] Input field placeholder text.
 * - id: [string] Input field html ID attribute.
 * - name: [string] Input field html name attribute.
 * - State: [string] Input field state: Error, Success.
 * - required: [boolean] Required state.
 * - disabled: [boolean] Disabled state.
 * - autocomplete: [boolean] Autocomplete state.
 */
#}

{% if type %}

  {% set classes = [
    'civic-input',
    'civic-theme-%s'|format(theme|default('light')),
    disabled ? 'civic-input--disabled' : '',
    required ? 'civic-input--required' : '',
    'civic-input--%s'|format(state|default('default')),
    type ? 'civic-input--%s'|format(type) : '',
    modifier_class ? modifier_class : ''
  ] %}

  {% set icons = {
    error: 'userinterface_close_2',
    success: 'userinterface_approve',
  } %}

  <div class="{{ classes|join(' ') }}">
    {% if type == 'textarea' %}
      <textarea class="civic-input__element" {% if placeholder %} placeholder="{{ placeholder }}" {% endif %} {{ disabled ? 'disabled' }} {{ required ? 'required' }} rows="5" cols="58">{{ value }}</textarea>
    {% elseif type in ['text', 'email'] %}
      <input class="civic-input__element" type="{{ type }}" value="{{ value }}" {% if attributes %}{{ attributes }}{% endif %} {% if placeholder %} placeholder="{{ placeholder }}" {% endif %} {{ disabled ? 'disabled' }} {{ required ? 'required' }} {{ autocomplete ? 'autocomplete' }} />

      {% if icons[state] is defined %}
        <span class="civic-input__state" >
          {% include '@atoms/icon/icon.twig' with {
            symbol: icons[state]
          } %}
        </span>
      {% endif %}
    {% elseif type == 'radio' %}
      {% include '@atoms/radio/radio.twig' %}
    {% elseif type == 'checkbox' %}
      {% include '@atoms/checkbox/checkbox.twig' %}
    {% else %}
      <input class="civic-input__element" type="{{ type }}" value="{{ value }}" {% if attributes %}{{ attributes }}{% endif %} />
      {% if icons[state] is defined %}
        <span class="civic-input__state">
          {% include '@atoms/icon/icon.twig' with {
            symbol: icons[state]
          } %}
        </span>
      {% endif %}
    {% endif %}

    {{ children }}
  </div>
{% endif %}
