{#
/**
 * @file Progress indicator component.
 *
 * Available variables:
 * - steps: [array] Steps.
 *    - title: [string] Title of the step.
 *    - status: [string] Title of the step.
 *    - icon: [object] Icon object.
 */
#}

{% set component_class = 'civic-progress-indicator' %}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(component_class, theme_class) %}

<div class="{{ modifier_class }}" aria-live="polite">
  {% for step in steps %}
    <div class="{{ component_class }}__step {{ '%s__step--%s'|format(component_class, step.status) }}">
      {% include '@atoms/icon/icon.twig' with {
        symbol: step.symbol,
      } only %}
      <div class="{{ component_class }}__step--inner">
        <div class="{{ component_class }}__step--status">
          {{ step.status }}
        </div>
        <div class="{{ component_class }}__step--title">
          {{ step.title }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
