{#
/**
 * @file
 * Link component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - text: [string] Button text.
 * - url: [string] URL.
 * - is_new_window: [boolean] Open in a new window.
 * - is_external [boolean] Link is external.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civictheme-theme-%s'|format(theme|default('light')) %}
{% set is_external = is_external ? 'civictheme-link--external' : '' %}
{% set modifier_class = '%s %s %s'|format(theme_class, is_external, modifier_class|default('')) %}

{% if text is not empty %}
  <a class="civictheme-link {{ modifier_class }}" {% if url is not empty %}href="{{ url }}"{% endif %} {{ is_new_window ? 'target="_blank"' }} {% if attributes is not empty %}{{ attributes|raw }}{% endif %}>
    {{ text|raw }}
  </a>
{% endif %}
