{#
/**
 * @file Table of Contents component.
 *
 * Available variables:
 * - theme: [string] Theme: light, dark.
 * - title: [string] Title to dispaly above links.
 * - links: [array] Array of link data. Providing links will disable automatic JavaScript anchor generation.
 * - anchor_selector: [string] Selectors for anchor elements. Use when 'links' is not provided.
 * - anchor_scope_selector: [string] Wrapper element to search in for anchor elements. Use when 'links' is not provided.
 * - index: [string] A unique identitifer for this component. Use if page contains multiple of this component & 'links' is provided.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}
{% set index = index|default('') %}

{% if title or links -%}
  <div
    class="civic-table-of-contents {{ modifier_class }}"
    data-use-js="{{ links ? 'false' : 'true' }}"
    data-anchors="{{ anchor_selector|default('h2') }}"
    data-anchor-scope="{{ anchor_scope_selector|default('.civic-basic-content') }}"
  >
    {% if title -%}
      <div class="civic-table-of-contents__title" id="civic-table-of-contents-title{{ index ? '-' ~ index : '' }}">{{ title }}</div>
    {%- endif %}
    <div class="civic-table-of-contents__content">
      {# TODO - Eventual plans to use menu component in place of these. #}
      {% if links -%}
        <ul class="civic-table-of-contents__links" aria-labelledby="civic-table-of-contents-title{{ index ? '-' ~ index : '' }}">
          {% for link in links -%}
            <li class="civic-table-of-contents__link-item">
              <a class="civic-table-of-contents__link" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {%- endfor %}
        </ul>
      {%- endif %}
    </div>
  </div>
{%- endif %}
