{% extends './footer.twig' %}
{% import './menu.twig' as menus %}

{% block logo %}
	<div class="civic-footer__logo">
    <img src="{{ image.src }}" {% if image.alt is not empty %} alt="{{ image.alt }} {% endif %}">
  </div>
{% endblock %}

{% block top_right %}
	{% if socialLinks %}
	  <div class="civic-footer__top--right">
	  	<div class="civic-footer__social-links">
	    {% for socialLink in socialLinks %}
	    	{% include '@atoms/icon/icon_link.twig' with {
	      	theme: theme,
	      	symbol: socialLink.symbol,
	      	size: socialLink.size,
	      	url: socialLink.url,
	    	} only %}
	  {% endfor %}
			</div>
	  </div>
	{% endif %}
{% endblock %}

{% block middle_left %}
	{% if menu_left %}
		<div class="civic-footer__middle-left--menu">
			{{ menus.menu_links(menu_left, 0, 'civic-footer', false) }}
		</div>
	{% endif %}
{% endblock %}

{% block middle_right %}
	{% if menu_right %}
		<div class="civic-footer__middle-right--menu">
			{{ menus.menu_links(menu_right, 0, 'civic-footer', true) }}
		</div>
	{% endif %}
{% endblock %}

{% block bottom_left %}
	{% if copyright %}
		<p class="civic-footer__acknowledgement">{{ acknowledgement }}</p>
	{% endif %}
{% endblock %}

{% block bottom_right %}
  {% if copyright %}
		<p class="civic-footer__copyright">{{ copyright }}</p>
	{% endif %}
{% endblock %}



