{% set classes = ['civic-footer'] %}
{% set theme_class = 'civic-theme-%s'|format(theme|default('light')) %}
{% set classes = classes|merge([theme_class]) %}

<footer class="{{ classes|join(' ') }}" role="contentinfo" data-component-name="civic-footer">
  <div class="container">
    <div class="civic-footer__top civic-footer__region">
      <div class="row">

        <div class="col-xs-12 col-m-4 col-l-3">
          {% block logo %}
            {% if logo is not empty %}
              <div class="civic-footer__logo">
                {{ logo }}
              </div>
            {% endif %}
          {% endblock %}
        </div>

        <div class="col-xs-12 col-m-4 col-l-3">
          {% block top_left %}
            <div class="civic-footer__top--left">
              {{ top_left }}
            </div>
          {% endblock %}
        </div>

        <div class="col-xs-12 col-m-4 col-l-3 col-l-offset-3">
          {% block top_right %}
            <div class="civic-footer__top--right">
              {{ top_right }}
            </div>
          {% endblock %}
        </div>
      </div>
    </div>

    {% block middle %}
      {% if middle_1 or middle_2 or middle_3 or middle_4 %}
        <div class="civic-footer__middle civic-footer__region">
          <div class="civic-footer__middle-inner row">
              {% block middle_1 %}
                  {{ middle_1 }}
              {% endblock %}
              {% block middle_2 %}
                  {{ middle_2 }}
              {% endblock %}
              {% block middle_3 %}
                  {{ middle_3 }}
              {% endblock %}
              {% block middle_4 %}
                  {{ middle_4 }}
              {% endblock %}
          </div>
        </div>
      {% endif %}
    {% endblock %}

    <div class="civic-footer__bottom civic-footer__region">
      <div class="row">

        <div class="col-xs-12 col-m-7">
          {% block bottom_left %}
            <div class="civic-footer__bottom--left">
              {{ bottom_left }}
            </div>
          {% endblock %}
        </div>

        <div class="col-xs-12 col-m-4 col-l-3 col-l-offset-2">
          {% block bottom_right %}
            <div class="civic-footer__bottom--right">
              {{ bottom_right }}
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</footer>

