{% import _self as menus %}

{% macro menu_links(items, menu_level, component_class, heading) %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="{{ component_class ~ '__main-menu' }}">
    {% else %}
      <ul class="{{ component_class ~ '__sub-menu' }}">
    {% endif %}
    {% for item in items %}
      {% set new_window = (item.new_window is defined and item.new_window) ? item.new_window : false %}
      {% set is_external = (item.is_external is defined and item.is_external) ? item.is_external : false %}
        {% if menu_level == 0 and heading %}
        <li class="{{ component_class ~ '__menu-heading' }}">
          <div class="{{ component_class ~ '__menu-heading-wrapper' }}">
            <h5 class="{{ component_class ~ '__middle-links' }} ">{{ item.text }}</h5>
            <div class="{{ component_class ~ '__menu-open-icon' }}">
              {% include '@atoms/icon/icon.twig' with {
                symbol: 'arrows_downarrowlarge',
                size: 'regular',
                color: 'footer'
              } only %}
            </div>
            <div class="{{ component_class ~ '__menu-close-icon' }}">
              {% include '@atoms/icon/icon.twig' with {
                symbol: 'arrows_uparrowlarge',
                size: 'regular',
                color: 'footer'
              } only %}
            </div>
          </div>
        {% else %}
         <li class="{{ component_class ~ '__menu-items' }}">
          {% include '@atoms/link/link.twig' with {
            theme: theme,
            text: item.text,
            title: item.text,
            url: item.url,
            new_window: item.new_window,
            is_external: item.is_external
          } only %}
        </li>  
        {% endif %}
        {% if item.children %}
          {{ menus.menu_links(item.children, menu_level + 1, component_class) }}
        {% endif %}
    {% endfor %}
      </li>
    </ul>
  {% endif %}
{% endmacro %}
